body{
    align-content: center, right;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    border:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    text-align: center;
    background-color: grey;
}
header{
    text-align: center;
}
nav{
    text-align: center;
    background-color: gray;
}
nav a{
    color: white;
}
h2{
    text-align: center;
}
h1{
    font-style: italic;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: justify;
}
p1{
    text-align: center;
    color: yellow;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
}